/* Box sizing */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


main > * {
  font-family: Avenir, Montserrat, Corbel, "URW Gothic", source-sans-pro, sans-serif;
  font-weight: normal;
  background-color: #c0c0c0;
  border-radius: 10px;
  padding: 20px;
}


main {
  display: grid;
  grid-template-areas:
    "header header"
    "content aside"
    "blog aside"
    "footer footer";
  grid-template-columns: 1fr 1fr; /* equal width columns */
  gap: 20px;
  max-width: 80vw;
  margin: 20px auto;
}


header.primary { grid-area: header; }
section#content { grid-area: content; }
section#blog { grid-area: blog; }
aside { grid-area: aside; }
footer.primary { grid-area: footer; }
